html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header p {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
}

header nav ul li {
  border-bottom: 1px solid whitesmoke;
  padding: 10px;
  color: lightgray;
  font-weight: bold;
}

aside h2, article h1, footer h3 {
  text-align: center;
}

aside ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  align-items: center;
}

aside ul li {
  padding: 10px;
  background-color: lightgrey;
  border-bottom: 1px solid whitesmoke;
  margin-bottom: 10px;
  width: 90%;
  box-shadow: 0 1px 2px grey;
}

article p {
  padding: 10px;
  width: 90%;
  margin: auto;
  text-align: justify;
  font-size: 1.1em;
  background-color: #f7f7f7;
}

footer p {
  padding: 10px;
  text-align: center;
}