*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1920px;
    margin: auto;
}

/* ========= HEADER ============ */
header{
    background-color: whitesmoke;
}

.header-container h1{
    text-align: center;
    font-size: 2.5em;
    padding: 5%;
}


.header-container ul{
    text-align: center;
    background-color: thistle;
    height: 10vh;
}
nav ul li{
    display: inline-block;
    font-size: 1.25em;
    padding-top: 3%;
    padding-right: 2%;
}

.header-container a{
    text-decoration: none;
    color: white;
}

.header-container a:hover{
    color: tomato;
    transition: 0.5s;
}

/* ========== O STOMATOPODA =========== */

.o-stomatopoda{
    background-color: whitesmoke;
}

.general-article h2{
    text-align: center;
    padding: 2%;
}

.general-article h3{
    text-align: center;
    padding: 1%;
}

.general-article p{
    max-width: 800px;
    margin: auto;
    text-align: justify;
    font-size: 1.1em;
    line-height: 3vh;
    text-indent: 2em;
    padding-bottom: 3%;
}

table{
    margin: auto;
    border: 1px solid thistle;
}

th, td{
    border: 1px solid black;
    padding: 10px;
}

/* ======== FACTS =========== */
.facts{
    text-align: center;
}

.facts h2, h3{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.facts article{
    display: inline-block;
    max-width: 266px;
    text-align: justify;
    border: 1px solid thistle;
    padding: 5px;
    background-color: tomato;
    box-shadow: -5px 1px 15px;
}

/* ======== REFERENCES ========= */
.references{
    background-color: whitesmoke;
}
.references ul{
    text-align: center;
}
.references li{
    display: inline-block;
    padding: 10px;
}

.references a{
    text-decoration: none;
    background-color: thistle;
    padding: 15px;
    border-radius: 25px;
    color: white;
}

.references a:hover{
    font-size: 1.2em;
    background-color: tomato;
    transition: all 0.3s ease-in-out;
}

/* ======== FOOTER ======== */

footer{
    background-color: thistle;
    text-align: center;
}

footer a{
    text-decoration: none;
    color:tomato;
}