div:hover{
    border: 1px solid black;
}

div:nth-of-type(1){
    background-color: blueviolet;
}

div:nth-of-type(2){
    background-color: coral;
}

div:nth-of-type(3){
    background-color: greenyellow;
}

div:nth-of-type(4){
    background-color: darkblue;
}

div:nth-of-type(5){
    background-color: hotpink;
}

h3 {
    color: whitesmoke;
    font-family:sans-serif;
}